:root {
  --bg-color: rgb(40, 40, 40);
  --text-color1: rgb(255, 255, 255);
  --typewriterSpeed: 2s;
  --typewriterCharacters: 28;
  --delay-before-start: 200ms;
  --blink-delay: 2.5s;
  --cursor-blink-speed: 1s;
}

body {
  margin: 0;
  font-family: "Roboto Mono Medium", monospace;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background: var(--bg-color);
}

h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  color: var(--text-color1);
  position: relative;
  font-family: "Roboto Mono Medium", monospace;
  position: relative;
  width: max-content;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) var(--delay-before-start) forwards;
}

h1::after {
  width: 0.15em;
  background: var(--text-color1);
  animation: typewriter var(--typewriterSpeed)
  steps(var(--typewriterCharacters)) var(--delay-before-start) forwards,
    blink var(--cursor-blink-speed) steps(var(--typewriterCharacters)) var(--blink-delay) infinite;
  -webkit-animation: typewriter var(--typewriterSpeed)
  steps(var(--typewriterCharacters)) var(--delay-before-start) forwards,
    blink var(--cursor-blink-speed) steps(var(--typewriterCharacters)) var(--blink-delay) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@-webkit-keyframes blink { 
  0% {visibility: hidden;}
  10% {visibility: hidden;}
  20% {visibility: hidden;}
  30% {visibility: hidden;}
  40% {visibility: hidden;}
  50% {visibility: visible;}
  60% {visibility: visible;}
  70% {visibility: visible;}
  80% {visibility: visible;}
  90% {visibility: visible;}
  100% {visibility: visible;}
}
@keyframes blink { 
  0% {visibility: hidden;}
  10% {visibility: hidden;}
  20% {visibility: hidden;}
  30% {visibility: hidden;}
  40% {visibility: hidden;}
  50% {visibility: visible;}
  60% {visibility: visible;}
  70% {visibility: visible;}
  80% {visibility: visible;}
  90% {visibility: visible;}
  100% {visibility: visible;}
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
